__pycache__/
finger_printing/datasets/
finger_printing/checkpoints
finger_printing/config
wandb/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.log
.git
.gitignore
.DS_Store
*.csv
*.png
*.jpg
*.jpeg
*.gif